body {
  font-family: sans-serif;
  font-size: 1.3em;
}

.big {
  font-size: 1.5em;
}

input, select {
  font-size: 1.2em;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance:    textfield;
  appearance:         textfield;
  text-align: right; 
  width: 4em;
}

div {
  padding: 1em;
  justify-content: center;
  display: block;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

#graph {
  height: 400px;
}

td, th {
  text-align: left; 
  padding: 10px;
}

